{% extends 'base.html' %}

{% block title %}
<title>SHOW LAPTOPS</title>
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">LAPTOP ID</th>
        <th scope="col">LAPTOP NAME</th>
        <th scope="col">BRAND</th>
        <th scope="col">RAM</th>
        <th scope="col">ROM</th>
        <th scope="col">HDD</th>
        <th scope="col">UPDATE</th>>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
        {% for i in data %}
      <tr>
          <td>{{i.laptop_id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.brand}}</td>
          <td>{{i.ram}}</td>
          <td>{{i.rom}}</td>
          <td>{{i.HDD}}</td>
          <td><button class="btn btn-warning"><a href="{% url 'update.urls' i.laptop_id %}">UPDATE</a></button>></td>
          <td><button class="btn btn-warning"><a href="{% url 'delete.urls' i.laptop_id %}">DELETE</a></button>></td>
      
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}