{% extends 'base.html' %}

    {% block title %}
    <title>ENTER OTP</title>
    {% endblock %}

{% block content %}
<div class="container jumbotron">
    <form method="post" action="{% url 'otp.urls' %}">
        {% csrf_token %}
        <label for="otp"><b>ENTER YOUR OTP<b></label>
        <input type="number" id="otp" name="otp">
        <input type="hidden" name="user" value="{{user.pk}}">
        <br><br>
        <input type="submit" value="VERIFY" class="btn btn-primary">
        <br><br>
   
    </form>
</div>
{% endblock %}    